<cart-drawer data-state="closed">
    <div class="cart__content">
        <div class="cart__headings">
            <span>Shopping Cart</span>
        </div>
        <div class="cart__items">

            <!-- <div class="line__item">
                <span class="delete__icon"></span>

                <img alt="" class="line__item-img" height="300" src="/assets/box-1.jpg" width="300">
                <div class="line__item-details">
                    <span class="item__title">10 Piece Crayon Set /
                        <span>1 Box Reg Price</span>
                    </span>
                    <span class="item__price">$9.99</span>

                    <div class="quantity__btns">
                        <button class="btn btn-primary">Remove Item</button>
                        <span class="item__quantity">1</span>
                        <button class="btn btn-primary">Add Item</button>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <button class="btn btn-primary checkout" type="submit">Checkout</button>
</cart-drawer>