<div class="load-icon">
    <svg enable-background="new 0 0 0 0" id="L4" version="1.1" viewbox="0 0 100 100" x="0px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" y="0px">
        <circle cx="6" cy="50" fill="#fff" r="6" stroke="none">
            <animate attributename="opacity" begin="0.1" dur="1s" repeatcount="indefinite" values="0;1;0"/>
        </circle>
        <circle cx="26" cy="50" fill="#fff" r="6" stroke="none">
            <animate attributename="opacity" begin="0.2" dur="1s" repeatcount="indefinite" values="0;1;0"/>
        </circle>
        <circle cx="46" cy="50" fill="#fff" r="6" stroke="none">
            <animate attributename="opacity" begin="0.3" dur="1s" repeatcount="indefinite" values="0;1;0"/>
        </circle>
    </svg>
</div>