.hero {
  background-color: var(--primary-70);
  height: 60rem;
  //   @extend %sec-padding;
  &__content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    &-image {
      position: absolute;
      top: 0;
      left: 4rem;
      height: 60rem;
      width: 60rem;
      // width: 0%;
      z-index: -1;

      div {
        // z-index: -1;
        background-image: url(/assets/box-1.jpg);
        background-size: cover;
        background-clip: border-box;
        background-origin: border-box;
        background-repeat: no-repeat;
        pointer-events: none;
        -webkit-mask-image: url(/assets/hero-mask1-1.svg);
        mask-image: url(/assets/hero-mask1-1.svg);
        -webkit-mask-size: 100%;
        mask-size: 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
        -webkit-mask-clip: content-box;
        mask-clip: content-box;

        clip-path: url(/assets/hero-mask1-1.svg);
        height: 100%;
      }
      // position: absolute;
      // left: 0;
      // top: 0;
      // z-index: 0;
      // background-image: url(/assets/hero-1.svg);
      // width: 100%;
      // height: 120%;
      // background-size: contain;
      // background-repeat: no-repeat;
      //   background-position: center;
    }

    &-card {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 4rem;
      margin-right: calc(5rem + 5vw);
      width: calc(55rem + 5vw);
      //   flex-basis: calc(45rem + 5vw);
      background-color: var(--primary-98);
      height: min-content;
      align-self: center;
      gap: 3rem;
      text-align: center;

      box-shadow: 20px 20px 0px var(--primary-20);
      h1 {
        @extend %sec-heading;
      }
      p {
        @extend %sec-para;
      }
    }
  }

  @include media-tablet {
    height: 90rem;
    padding-top: 5rem;
    &__content {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      &-image {
        // background-image: url(/assets/hero-mobile.svg);
        left: 10%;
        top: 44%;
        // width: 100%;
        // height: 100%;
      }
      &-card {
        width: 90%;
        z-index: 0;
        margin: 8rem 0 0 0;
      }
    }
  }

  @include media-medium {
    height: 94rem;
  }
  @include media-small {
    height: 95rem;
    &__content {
      &-image {
        width: 60rem;
        top: 45%;
        left: -30%;
      }
    }
  }
}
