.logo-list {
  padding: 5rem 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--primary-30);
  justify-content: space-between;
  align-items: baseline;

  &__icon {
    width: 20%;
    img {
      display: block;
      margin: 0 auto;
    }
    h2 {
      text-align: center;
      color: var(--primary-60);
      font-size: var(--regular);
      font-weight: font-weight(semibold);
    }
  }
  @include media-tablet {
    margin-top: 30rem;
    &__icon {
      width: 50%;
    }
  }
  @include media-medium {
    margin-top: 10rem;
    &__icon {
      width: 50%;
      margin-bottom: 4rem;
    }
  }
  @include media-medium {
    margin-top: 4rem;
    &__icon {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}
