{% render 'affirmations-css'%}

<section class="affirmations">

    <h2>Positive Affirmations On Every Crayon</h2>

    <div class="affirmations__content">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div"></div>
    <!-- <div></div> -->
</div>

</section>

{% schema %}
{
    "name": "Affirmations",
    "settings": [
    ],
    "presets": [
        {
            "name":"Affirmations"
        }
    ]
}
{% endschema %}