<cart-drawer data-state="closed" data-section="{{ section.id }}">
    <!-- <div class="cart__content">
        <div class="cart__headings">
            <span></span>
        </div>
        <div class="cart__items is-hidden" id="cartItems">

            <div class="line__item">
                <button class="delete__icon" name="deleteItem" type="button"></button>
                <img class="line__item-img" height="300" src="" width="300">
                <div class="line__item-details">
                    <span class="item__title"></span>
                    <span class="item__price"></span>
                    <quantity-input-drawer>
                        <button class="plus" name="plus" type="button">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                        <input form="line-item" id="quantityInput" min="1" type="number" value="1">
                        <button class="minus" name="plus" type="button">
                            <i class="fa fa-minus-circle"></i>
                        </button>
                    </quantity-input-drawer>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary checkout is-hidden" type="submit">Checkout</button> -->

</cart-drawer>