{% render "girl-css"%}

<section class="girl">

    <div class="girl__text">
        <h3>You Are Talented</h3>
        <h3>You Are Strong</h3>
        <h3>You Are Victorious</h3>

    </div>
    <img alt="" src="{{ 'black-girl.svg' | asset_url }}">
    <div class="girl__text">

        <h3>You Are Brilliant</h3>
        <h3>You Are Unique</h3>
        <h3>You Are Beautiful</h3>

    </div>


</section>