<header class="header">

    <div class="header__overlay"></div>

    <nav class="header__content" role="navigation">

        <div class="header__content-logo">
            <img width="200" height="200" loading="lazy" alt="" src="{{ 'logo.png' | asset_url}}">
        </div>

        <div class="header__content-menu">
            {% for link in linklists.main-menu.links %}
                <a href="{{ link.url }}" {% if link.active %} aria-current="page" {% endif %}>{{ link.title }}</a>
            {% endfor %}
        </div>

        <div class="header__content-cart">
            <div class="cart-bubble"></div>
            {% render 'cart-icon' %}
        </div>

        <div class="header__content-hamburger">
            <div></div>
        </div>
        <div class="header__content-customer" id="customerModal">
            <i class="fa fa-user"></i>
        </div>
    </nav>

</header>
{% schema %}
{
    "name": "Navigation",
    "settings": [
        {
            "type": "link_list",
            "id": "main-menu",
            "label": "Menu"
        }
    ]
}
{% endschema %}
