/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  --primary-10: hsla(35, 88.2%, 10%, 1);
  --primary-20: hsla(35, 90.2%, 20%, 1);
  --primary-30: hsla(35, 89.5%, 30%, 1);
  --primary-40: hsla(35, 90.2%, 40%, 1);
  --primary-50: hsla(35, 89.8%, 50%, 1);
  --primary-60: hsla(35, 90.2%, 60%, 1);
  --primary-60-m: hsla(35, 90.2%, 60%, 0.01);
  --primary-70: hsla(35, 89.5%, 70%, 1);
  --primary-80: hsla(35, 90.2%, 80%, 1);
  --primary-90: hsla(35, 88.2%, 90%, 1);
  --primary-95: hsla(34, 92%, 95.1%, 1);
  --primary-98: hsla(40, 81.8%, 97.8%, 1);
  --primary-99: hsla(36, 100%, 99%, 1);
  --secondary-10: hsla(131, 88.2%, 10%, 1);
  --secondary-20: hsla(131, 90.2%, 20%, 1);
  --secondary-30: hsla(131, 89.5%, 30%, 1);
  --secondary-40: hsla(131, 90.2%, 40%, 1);
  --secondary-50: hsla(131, 89.8%, 50%, 1);
  --secondary-60: hsla(131, 90.2%, 60%, 1);
  --secondary-70: hsla(131, 89.5%, 70%, 1);
  --secondary-80: hsla(131, 90.2%, 80%, 1);
  --secondary-90: hsla(131, 88.2%, 90%, 1);
  --secondary-95: hsla(130, 92%, 95.1%, 1);
  --secondary-98: hsla(133, 81.8%, 97.8%, 1);
  --secondary-99: hsla(132, 100%, 99%, 1);
  --small: 1.6rem;
  --regular: 2.4rem;
  --medium: 3.8rem;
  --large: 4.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Signika", sans-serif;
  font-style: normal;
  line-height: auto;
  background-color: var(--primary-70);
  overflow-x: hidden;
}

a,
a:link,
a:active {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-98);
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: var(--small);
  font-weight: 600;
}

.btn.btn-primary {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-50);
  color: var(--primary-98);
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: var(--secondary-30);
  background-color: var(--primary-50);
  border-radius: 1rem;
}

.btn.btn-secondary {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-40);
  color: var(--secondary-98);
}

.btn.btn-secondary:active,
.btn.btn-secondary:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: var(--primary-50);
  background-color: var(--secondary-40);
  border-radius: 1rem;
}

section {
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  -webkit-transform: translateY(10rem);
  -ms-transform: translateY(10rem);
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  -o-transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 10rem;
  overflow: hidden;
}

.header__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-60);
  opacity: 0;
  display: none;
  z-index: 10;
}

.header__content {
  height: 10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr
    2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  grid-gap: 2rem;
  position: relative;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--primary-60)),
    to(var(--primary-60-m))
  );
  background: -o-linear-gradient(top, var(--primary-60), var(--primary-60-m));
  background: linear-gradient(
    to bottom,
    var(--primary-60),
    var(--primary-60-m)
  );
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.header__content.sticky {
  position: fixed;
  top: -30%;
  -webkit-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.header__content.sticky.down {
  top: 0;
}

.header__content-logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.header__content-logo img {
  width: 15rem;
  height: auto;
  -webkit-filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.6));
}

.header__content-menu {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content-menu a,
.header__content-menu a:link,
.header__content-menu a:visited {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  font-size: var(--small);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.header__content-menu a::after,
.header__content-menu a:link::after,
.header__content-menu a:visited::after {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: var(--secondary-98);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.header__content-menu a:hover,
.header__content-menu a:active,
.header__content-menu a:link:hover,
.header__content-menu a:link:active,
.header__content-menu a:visited:hover,
.header__content-menu a:visited:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.header__content-menu a:hover::after,
.header__content-menu a:active::after,
.header__content-menu a:link:hover::after,
.header__content-menu a:link:active::after,
.header__content-menu a:visited:hover::after,
.header__content-menu a:visited:active::after {
  width: 100%;
  left: 0;
}

.header__content-cart {
  position: relative;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
  cursor: pointer;
  grid-column: 10 / 13;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.header__content-cart:hover,
.header__content-cart:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.header__content-cart .cart-bubble {
  cursor: pointer;
  line-height: 3rem;
  background-color: var(--secondary-40);
  color: var(--primary-90);
  text-align: center;
  font-size: var(--small);
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
  position: absolute;
  top: -1.4rem;
  left: 2.3rem;
}

.header__content-cart svg {
  height: 5rem;
}

.header__content-cart svg path {
  fill: var(--primary-90);
}

.header__content-hamburger {
  display: none;
}

@media screen and (max-width: 900px) {
  .header.open .header__content-hamburger div::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header.open .header__content-hamburger div::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .header.open .header__content-hamburger div::before,
  .header.open .header__content-hamburger div::after {
    top: 0;
  }
  .header.open .header__content-hamburger div {
    background-color: transparent;
  }
  .header__overlay.open {
    display: block;
    opacity: 0.8;
  }
  .header .open {
    -webkit-transition: -webkit-transform opacity 1s ease-in-out;
    transition: -webkit-transform opacity 1s ease-in-out;
    -o-transition: transform opacity 1s ease-in-out;
    transition: transform opacity 1s ease-in-out;
    transition: transform opacity 1s ease-in-out,
      -webkit-transform opacity 1s ease-in-out;
  }
  .header__content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: none;
    grid-template-columns: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 8rem;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--primary-60)),
      to(var(--primary-60-m))
    );
    background: -o-linear-gradient(top, var(--primary-60), var(--primary-60-m));
    background: linear-gradient(
      to bottom,
      var(--primary-60),
      var(--primary-60-m)
    );
  }
  .header__content.open {
    z-index: 12;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .header__content-logo {
    position: relative;
    grid-column: none;
    width: auto;
    margin-left: 1rem;
  }
  .header__content-menu {
    width: 100%;
    height: 100vh;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: fixed;
    -ms-grid-columns: none;
    grid-template-columns: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: perspective(70rem) rotateY(0.5turn);
    transform: perspective(70rem) rotateY(0.5turn);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header__content.open .header__content-menu {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header__content-cart {
    position: fixed;
    right: 0.3rem;
    top: 26%;
    background-color: var(--primary-60);
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0.1rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.274);
    box-shadow: 0.1rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.274);
    width: 5.5rem;
    height: 5.5rem;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .header__content-cart:hover,
  .header__content-cart:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: var(--primary-50);
  }
  .header__content-cart svg {
    width: 100%;
    height: 100%;
  }
  .header__content-cart svg path {
    fill: var(--primary-90);
  }
  .header__content-hamburger {
    display: block;
    position: fixed;
    right: 0.3rem;
    top: 5%;
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--primary-60);
    padding: 2rem 1.4rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0.1rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.274);
    box-shadow: 0.1rem 0.1rem 1rem 0rem rgba(0, 0, 0, 0.274);
    cursor: pointer;
    z-index: 13;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header__content-hamburger:hover,
  .header__content-hamburger:active {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: var(--primary-50);
  }
  .header__content-hamburger div,
  .header__content-hamburger div::after,
  .header__content-hamburger div::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.2rem;
    background-color: var(--primary-90);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header__content-hamburger div::before {
    top: -2.2rem;
  }
  .header__content-hamburger div::after {
    top: 2.2rem;
  }
}

.footer {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--primary-30);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__logo {
  width: 25rem;
  height: auto;
}

.footer__logo img {
  width: 25rem;
  height: auto;
}

.footer__logo p {
  font-size: var(--small);
  color: var(--primary-70);
  font-weight: 300;
}

.footer__links {
  width: 25rem;
}

.footer__links div {
  font-size: var(--regular);
  color: var(--primary-70);
  font-weight: 300;
}

.footer__links a {
  display: block;
  font-size: var(--small);
  color: var(--primary-70);
  font-weight: 300;
}

@media screen and (max-width: 900px) {
  .footer__logo {
    margin-bottom: 4rem;
  }
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all 0.5s !important;
  -o-transition: all 0.5s !important;
  transition: all 0.5s !important;
  -webkit-transition-delay: 0 !important;
  -o-transition-delay: 0 !important;
  transition-delay: 0 !important;
}

.btn.btn-primary {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-50);
  color: var(--primary-98);
}
.btn.btn-primary:active,
.btn.btn-primary:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: var(--secondary-30);
  background-color: var(--primary-50);
  border-radius: 1rem;
}

section {
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  -webkit-transform: translateY(10rem);
  -ms-transform: translateY(10rem);
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: -webkit-filter 0.5s ease-in-out;
  transition: -webkit-filter 0.5s ease-in-out;
  -o-transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out, -webkit-filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.minus i,
.plus i {
  position: relative;
  z-index: -1;
}

.is-hidden {
  display: none;
}

.product {
  width: 100%;
  overflow-x: hidden;
}
.product .decription-wrapper {
  width: 100%;
  background: linear-gradient(to bottom, var(--primary-70), var(--primary-80));
  height: min-content;
  display: flex;
  justify-content: center;
}
.product .product__description {
  height: min-content;
  font-size: var(--small);
  padding: 0 1rem 5rem 1rem;
  width: calc(35rem + 25vw);
}

.payment-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.payment-types .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25rem;
}

.payment-types p {
  font-size: var(--small);
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.payment-types img {
  padding: 0.2rem;
}

.product__content .selection-total {
  width: 100%;
  text-align: right;
  font-size: var(--regular);
  padding: 1rem 5rem;
  color: var(--primary-99);
}
.product__content .selection-total > span.total {
  display: block;
  width: 100%;

  font-size: var(--medium);
  padding: 0rem 0;
  color: var(--primary-99);
}

.product__content .selection-total span.savings {
  display: block;
  width: 100%;

  font-size: var(--regular);
  padding: 0rem 0 0 0;
  color: var(--primary-40);
}
.product__content .selection-total span.orig-price {
  display: block;
  width: 100%;

  font-size: var(--small);
  padding: 1rem 0 0 0;
  color: var(--primary-30);
}
@media screen and (min-width: 1000px) {
  .product__content .selection-total > span.total,
  .product__content .selection-total span.savings,
  .product__content .selection-total span.orig-price {
    width: 100%;
    text-align: center;
  }
}
.product__content .discount-price {
  position: absolute;
  z-index: 3;
  top: 7rem;
  right: -2.3rem;
  width: max-content;
  font-size: var(--small);
  padding: 1rem 3rem;
  color: var(--secondary-95);
  /* min-height: 3rem; */
  background-color: var(--secondary-30);
  border-radius: 1rem;
}
.product__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__content-main-img {
  position: relative;
  margin-bottom: 4rem;
}
.product__content-main-img img {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product__content-main-img img.fade-out {
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product__content-main-img::after {
  content: attr(data-price);
  top: 2rem;
  right: -2rem;
  position: absolute;
  z-index: 2;
  color: var(--primary-99);
  font-size: var(--regular);
  border-radius: 1rem;
  text-align: center;
  line-height: 4rem;
  background-color: var(--primary-80);
  width: 18rem;
  height: 4rem;
  font-weight: 300;
}
.product__content-main-img::before {
  content: attr(data-title);
  bottom: 2rem;
  left: -4rem;
  position: absolute;
  z-index: 2;
  color: var(--primary-99);
  font-size: var(--medium);
  text-align: center;
  border-radius: 1rem;
  line-height: 6rem;
  background-color: var(--primary-80);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 0 2rem;
  font-weight: 300;
}
.product__content-imgs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__content-imgs i {
  display: block;
  font-size: 5rem;
  margin-right: 4rem;
  color: var(--primary-30);
  cursor: pointer;
  -webkit-filter: drop-shadow(4px 2px 2px var(--primary-30));
  filter: drop-shadow(4px 2px 2px var(--primary-30));
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product__content-imgs i:active,
.product__content-imgs i:hover {
  color: var(--primary-40);
  -webkit-filter: drop-shadow(4px 5px 5px var(--primary-20));
  filter: drop-shadow(4px 5px 5px var(--primary-20));
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.product__content-imgs i:nth-of-type(2) {
  margin-left: 4rem;
  margin-right: 0rem;
}
.product__content-imgs .variant-1 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-1:hover,
.product__content-imgs .variant-1:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-1.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-1.selected:hover,
.product__content-imgs .variant-1.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-2 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-2:hover,
.product__content-imgs .variant-2:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-2.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-2.selected:hover,
.product__content-imgs .variant-2.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-3 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-3:hover,
.product__content-imgs .variant-3:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-3.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-3.selected:hover,
.product__content-imgs .variant-3.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-4 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-4:hover,
.product__content-imgs .variant-4:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-4.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-4.selected:hover,
.product__content-imgs .variant-4.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-5 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-5:hover,
.product__content-imgs .variant-5:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-5.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-5.selected:hover,
.product__content-imgs .variant-5.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-6 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-6:hover,
.product__content-imgs .variant-6:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-6.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-6.selected:hover,
.product__content-imgs .variant-6.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-7 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-7:hover,
.product__content-imgs .variant-7:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-7.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-7.selected:hover,
.product__content-imgs .variant-7.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-8 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-8:hover,
.product__content-imgs .variant-8:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-8.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-8.selected:hover,
.product__content-imgs .variant-8.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-9 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-9:hover,
.product__content-imgs .variant-9:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-9.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-9.selected:hover,
.product__content-imgs .variant-9.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content-imgs .variant-10 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  -o-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  -webkit-filter: brightness(1);
  filter: brightness(1);
}
.product__content-imgs .variant-10:hover,
.product__content-imgs .variant-10:active {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}
.product__content-imgs .variant-10.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-10.selected:hover,
.product__content-imgs .variant-10.selected:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
}
.product__content .product__selects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product__content .product__selects .installment.caption-large {
  margin: 4rem 0 2rem 0;
  text-align: center;
  font-size: var(--small);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 3rem;
  background-color: var(--primary-95);
  padding: 0 1.5rem;
  color: var(--primary-20);
  border: 3px solid var(--primary-80);
}
.product__content .product__selects .shopify-product-form {
  width: 100%;
}
.product__content .product__selects variant-radios {
  display: block;
  margin: 2rem auto;
  width: 50%;
}
.product__content .product__selects variant-radios fieldset {
  text-align: center;
  border: hidden;
  font-size: var(--regular);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.product__content .product__selects variant-radios fieldset legend {
  display: block;
  width: 100%;
  font-size: var(--medium);
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-20);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-1 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-1:checked
  ~ label[for="optionValues-1"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-2 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-2:checked
  ~ label[for="optionValues-2"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-3 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-3:checked
  ~ label[for="optionValues-3"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-4 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-4:checked
  ~ label[for="optionValues-4"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-5 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-5:checked
  ~ label[for="optionValues-5"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content .product__selects variant-radios fieldset label {
  cursor: pointer;
  margin-top: 2rem;
  border: 0.2rem solid var(--primary-50);
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: var(--primary-50);
  background-color: var(--primary-90);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product__content .product__selects variant-radios fieldset label:hover,
.product__content .product__selects variant-radios fieldset label:active {
  color: var(--primary-90);
  background-color: var(--primary-50);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.product__content .product__selects quantity-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 0 2rem 0;
  border: 2px solid var(--primary-50);
  border-radius: 3rem;
  background-color: var(--primary-90);
}
.product__content .product__selects quantity-input button {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  cursor: pointer;
}
.product__content .product__selects quantity-input button:hover i,
.product__content .product__selects quantity-input button:active i {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: var(--primary-60);
}
.product__content .product__selects quantity-input button i {
  position: relative;
  z-index: -1;
  font-size: 4rem;
  color: var(--primary-50);
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product__content .product__selects quantity-input input {
  text-align: center;
  background-color: var(--primary-90);
  border-left: 2px solid var(--primary-50);
  border-right: 2px solid var(--primary-50);
  border-top: none;
  border-bottom: none;
  width: 30rem;
  font-size: var(--small);
  color: var(--primary-30);
}
.product__content .product__selects product-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.product__content .product__selects product-form button {
  width: 40rem;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .product__content-main-img::before {
    bottom: -1rem;
    width: 110%;
    left: -5%;
    font-size: var(--regular);
    letter-spacing: 0.2rem;
  }
  .product__content #mainImage {
    width: 35rem;
    height: 35rem;
  }
  .product__content .discount-price {
    font-size: 1.3rem;
    left: -1.3rem;
    top: 4rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
  }
  .product__content-imgs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .product__content-imgs img {
    width: 4rem;
  }
  .product__content .product__selects variant-radios {
    width: auto;
  }
  .product__content .product__selects quantity-input input {
    width: auto;
  }
}
@media screen and (max-width: 900px) {
  .product__content {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .product__content-imgs {
    width: 100%;
  }
  .product__content-imgs img {
    width: 8rem;
  }
  .product__content-imgs i {
    -webkit-filter: drop-shadow(2px 2px 2px var(--primary-30));
    filter: drop-shadow(2px 2px 2px var(--primary-30));
    margin-right: 1rem;
  }
  .product__content-imgs i:nth-of-type(2) {
    margin-left: 1rem;
  }
  .product__content .product__selects #product-form-installment {
    width: 90%;
  }
  .product__content .product__selects .product-form {
    width: 100%;
  }
  .product__content .product__selects .product-form form {
    width: 100%;
  }
  .product__content .product__selects .product-form__buttons {
    width: 100%;
    padding: 4rem;
  }
  .product__content .product__selects .product-form button {
    width: 100%;
  }
  .product__content .product__selects .product-form__submit {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .product__content-imgs {
    width: 100%;
  }
  .product__content-imgs img {
    width: 10rem;
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 60vw;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100vh;
  background-color: white;
  z-index: 5;
  overflow-x: hidden;
}
cart-drawer[data-state="closed"] {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
cart-drawer[data-state="open"] {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
cart-drawer .cart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
cart-drawer .cart__content .cart__headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-size: var(--medium);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 5rem;
}
cart-drawer .cart__content .cart__items {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: hidden;
}
cart-drawer .cart__content .cart__items .line__item {
  margin-top: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
cart-drawer .cart__content .cart__items .line__item:nth-of-type(0) {
  visibility: hidden;
  height: 0 !important;
  width: 0 !important;
  opacity: 0;
}
cart-drawer .cart__content .cart__items .line__item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  font-size: var(--regular);
  text-align: center;
  padding: 0.5rem;
}
cart-drawer .cart__content .cart__items .line__item-details span {
  width: 100%;
}
cart-drawer .cart__content .cart__items .line__item-details span span {
  display: block;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 2rem 0 2rem 0;
  border: 2px solid var(--primary-50);
  border-radius: 3rem;
  background-color: var(--primary-90);
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button {
  position: relative;
  z-index: 5;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  cursor: pointer;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button:hover
  i,
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button:active
  i {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: var(--primary-60);
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button
  i {
  position: relative;
  z-index: -1;
  font-size: 4rem;
  color: var(--primary-50);
  cursor: pointer;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  input {
  text-align: center;
  background-color: var(--primary-90);
  border-left: 2px solid var(--primary-50);
  border-right: 2px solid var(--primary-50);
  border-top: none;
  border-bottom: none;
  width: 20rem;
  font-size: var(--small);
  color: var(--primary-30);
}
cart-drawer .cart__content .cart__items .line__item .delete__icon {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  top: 0;
  right: 0;
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::after,
cart-drawer .cart__content .cart__items .line__item .delete__icon::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: var(--primary-50);
  width: 3rem;
  height: 0.5rem;
  border-radius: 10rem;
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
cart-drawer .checkout {
  position: sticky;
  bottom: 0;
  border: none;
  width: 100%;
}
@media screen and (max-width: 600px) {
  cart-drawer {
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  cart-drawer {
    width: 100vw;
  }
}
.shopify-section.page .page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.shopify-section.page .page__title {
  font-size: var(--medium);
  margin-bottom: 5rem;
}
.shopify-section.page .page__para {
  font-size: var(--small);
  width: 80%;
}
.shopify-section.page ~ .shopify-section.newsletter .newsletter.hide {
  opacity: 1;
  -webkit-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  transform: translateY(0rem);
}

main .shopify-policy__container {
  width: 80%;
  max-width: none;
  font-size: var(--small);
  padding: 3rem 2rem;
}
main .shopify-policy__container .shopify-policy__title {
  margin-bottom: 3rem;
}

.list-collections {
  min-height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.list-collections h1 {
  width: 100%;
  text-align: center;
  font-size: var(--large);
  color: var(--secondary-30);
  margin-bottom: 3rem;
}
.list-collections .collection {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-decoration: none;
  color: var(--secondary-90);
  height: 30rem;
  width: 30rem;
  margin-bottom: 3rem;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-filter: brightness(1);
  filter: brightness(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.list-collections .collection:hover,
.list-collections .collection:active {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.list-collections .collection h2 {
  font-size: var(--regular);
  font-weight: 300;
  position: absolute;
  top: 0;
  left: -6rem;
  padding: 1rem 2rem;
  background: var(--primary-50);
  -webkit-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.collection-banner {
  width: 100%;
  padding: 1rem 2rem;
}
.collection-banner .collection-img {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--primary-60)),
    to(var(--primary-70))
  );
  background: -o-linear-gradient(top, var(--primary-60), var(--primary-70));
  background: linear-gradient(to bottom, var(--primary-60), var(--primary-70));
  padding: 5rem;
}
.collection-banner .collection-img h1 {
  font-size: var(--large);
  color: var(--primary-20);
}

.collection-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  background-color: var(--primary-70);
  height: 100vh;
}

.hero__content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
  width: 100%;
  /* overflow-x: hidden; */
}

.hero__content-image {
  position: relative;
  /* top: 5rem; */
  /* left: 4rem; */
  height: 100%;
  width: 45vw;
  /* width: calc(50rem + 20vw); */
  z-index: -1;
  padding: 5rem;
  flex-shrink: 1;
  flex-grow: 1;
}

.hero__content-image > img {
  position: absolute;
  top: 0;
  left: -10rem;
}

.hero__content-card {
  margin-right: 2rem;
  flex-grow: 2;
  flex-shrink: 1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  /* margin-right: calc(5rem + 5vw); */
  /* width: calc(55rem + 5vw); */
  background-color: var(--primary-98);
  height: min-content;
  align-self: center;
  gap: 3rem;
  text-align: center;
  box-shadow: 20px 20px 0 var(--primary-20);
}

.hero .hero__content-card h1 {
  font-size: var(--large);
  font-weight: 600;
  color: var(--secondary-20);
}

.hero .hero__content-card p {
  font-size: calc(1.2rem + 0.5vw);
  font-family: "Signika", cursive;
  color: var(--color-quinary);
}

@media screen and (max-width: 900px) {
  .hero {
    height: 90vh;
  }

  .hero .hero__content {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .hero .hero__content-image {
    height: 100vh;
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
  }
  .hero .hero__content-image img {
    height: auto;
    width: 90%;
    position: relative;
    left: 0;
    top: 0;
  }

  .hero .hero__content-card {
    width: 90%;
    z-index: 0;
    margin-bottom: 5rem;
    margin-right: 0rem;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    height: 100vh;
  }

  .hero .hero__content-card {
    margin-right: 0;
    padding: 3rem 3rem;
  }

  .hero .hero__content-image img {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .hero {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
  }
  .hero .hero__content {
    justify-content: flex-start;
  }

  .hero .hero__content-image {
    height: auto;
    padding: 0;
  }
  .hero .hero__content-image img {
    width: 100%;
  }
  .hero .hero__content-card {
    margin-right: 0;
  }
  .hero .hero__content-card h1 {
    font-size: var(--large);
  }
  .hero .hero__content-card p {
    font-size: var(--regular);
  }
}
.load-icon {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.load-icon svg {
  width: 100px;
  height: 100px;
}

.load-icon svg circle {
  fill: var(--primary-20);
}

@keyframes wiggle1 {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 1px white;
  }
  50% {
    text-shadow: 0px 0px 20px var(--primary-70);
  }
  100% {
    text-shadow: 0px 0px 0px var(--primary-70);
  }
}
@keyframes wiggle2 {
  0% {
    text-shadow: 0px 0px 1px white;
  }
  50% {
    opacity: 0.1;
    text-shadow: 0px 0px 20px var(--primary-70);
  }
  100% {
    text-shadow: 0px 0px 0px var(--primary-70);
  }
}
