*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-10: hsla(35, 88.2%, 10%, 1);
  --primary-20: hsla(35, 90.2%, 20%, 1);
  --primary-30: hsla(35, 89.5%, 30%, 1);
  --primary-40: hsla(35, 90.2%, 40%, 1);
  --primary-50: hsla(35, 89.8%, 50%, 1);
  --primary-60: hsla(35, 90.2%, 60%, 1);
  --primary-60-m: hsla(35, 90.2%, 60%, 0.01);
  --primary-70: hsla(35, 89.5%, 70%, 1);
  --primary-80: hsla(35, 90.2%, 80%, 1);
  --primary-90: hsla(35, 88.2%, 90%, 1);
  --primary-95: hsla(34, 92%, 95.1%, 1);
  --primary-98: hsla(40, 81.8%, 97.8%, 1);
  --primary-99: hsla(36, 100%, 99%, 1);
  --secondary-10: hsla(131, 88.2%, 10%, 1);
  --secondary-20: hsla(131, 90.2%, 20%, 1);
  --secondary-30: hsla(131, 89.5%, 30%, 1);
  --secondary-40: hsla(131, 90.2%, 40%, 1);
  --secondary-50: hsla(131, 89.8%, 50%, 1);
  --secondary-60: hsla(131, 90.2%, 60%, 1);
  --secondary-70: hsla(131, 89.5%, 70%, 1);
  --secondary-80: hsla(131, 90.2%, 80%, 1);
  --secondary-90: hsla(131, 88.2%, 90%, 1);
  --secondary-95: hsla(130, 92%, 95.1%, 1);
  --secondary-98: hsla(133, 81.8%, 97.8%, 1);
  --secondary-99: hsla(132, 100%, 99%, 1);
  --small: 1.6rem;
  --regular: 2.4rem;
  --medium: 3.8rem;
  --large: 4.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Signika", sans-serif;
  font-style: normal;
  line-height: auto;
  background-color: var(--primary-70);
  overflow-x: hidden;
}

a,
a:link,
a:active {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-98);
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: var(--small);
  font-weight: 600;
}
.btn.btn-primary {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-50);
  color: var(--primary-98);
}
.btn.btn-primary:active, .btn.btn-primary:hover {
  transform: scale(1.05);
  color: var(--secondary-30);
  background-color: var(--primary-50);
  border-radius: 1rem;
}

section {
  transition: all 0.7s ease-in-out;
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.minus i,
.plus i {
  position: relative;
  z-index: -1;
}

.is-hidden {
  display: none;
}

.customer {
  padding: 3rem 4rem;
  height: 80vh;
}
.customer__container {
  width: 100%;
  height: 80vh;
}
.customer.register {
  width: auto;
  margin: 0rem auto;
}
.customer.register #create_customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.customer.register h1 {
  display: block;
  font-size: calc(1.5rem + 2vw);
}
.customer.register .organization__fields .field {
  width: calc(30rem + 10vw);
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .customer.register .organization__fields {
    width: 100%;
  }
  .customer.register .organization__fields .field {
    width: 100%;
  }
}
.customer.register .customer__fields .field {
  width: calc(30rem + 10vw);
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .customer.register .customer__fields {
    width: 100%;
  }
  .customer.register .customer__fields .field {
    width: 100%;
  }
}
.customer h1 {
  color: var(--primary-95);
  font-size: calc(1.5rem + 1vw);
}
.customer .field {
  width: calc(30rem + 10vw);
  display: flex;
  flex-wrap: wrap-reverse;
}
.customer input {
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  padding-left: 0.8rem;
  border-radius: 10px;
  border: none;
}
.customer label {
  margin-top: 1.2rem;
  font-size: calc(1.2rem + 0.5vw);
}
.customer button {
  display: block;
  border: none;
  margin: 1.6rem auto auto;
  cursor: pointer;
}
.customer button:disabled {
  cursor: not-allowed;
  background-color: grey;
}
.customer button:disabled:hover {
  transform: scale(1);
  background-color: grey;
  border-radius: 0;
  color: white;
}
.customer.login {
  width: fit-content;
  margin: 0 auto;
}
.customer.login #recover {
  margin-top: 1.4rem;
}
.customer.login .login-wrapper {
  width: 100%;
}
.customer.login .login-wrapper .field {
  width: calc(30rem + 10vw);
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .customer.login .login-wrapper {
    width: 100%;
  }
  .customer.login .login-wrapper .field {
    width: 100%;
  }
}
.customer.login .btn {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.customer.login .create-account {
  margin: 1.6rem auto auto;
  display: block;
}
.customer.login .cancel {
  margin: 1.6rem auto;
  display: block;
}
.customer.account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: min-content;
  margin: 0rem auto;
  width: calc(40rem + 10vw);
}
.customer.account .account__info {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.customer.account .account__order-container {
  width: 100%;
}
.customer.account .account__order-container p {
  font-size: calc(1.2rem + 0.5vw);
}
.customer.account .account__order-container a {
  font-size: 1.2rem;
}
.customer.account .account__logout {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  width: fit-content;
  height: auto;
}
.customer.account .account__logout svg {
  margin-right: 0.6rem;
  width: 2rem;
}
.customer.account .account__history-title, .customer.account .account__details {
  font-size: 1.8rem;
  margin-top: 1.4rem;
}
.customer.account .account__title {
  font-size: calc(1.5rem + 2vw);
}
.customer.account .account__para, .customer.account .account td {
  font-size: calc(1.2rem + 0.5vw);
}
.customer.account .account tr {
  border-bottom: 1px black solid;
}
@media screen and (max-width: 900px) {
  .customer.account {
    width: 100%;
  }
}
.customer.activate {
  margin: 0 auto;
  width: fit-content;
}
.customer.activate h1 {
  display: block;
  height: min-content;
}
.customer.activate p {
  display: block;
  height: min-content;
}
.customer.activate .customer__fields .field {
  width: calc(30rem + 10vw);
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .customer.activate .customer__fields {
    width: 100%;
  }
  .customer.activate .customer__fields .field {
    width: 100%;
  }
}

.error-message {
  background: rgba(255, 144, 144, 0.738);
  border-radius: 10px;
  width: 100%;
  color: #a50000;
  overflow: hidden;
  height: 0px;
  transition: all 0.3s ease-in-out;
}
.error-message.show {
  margin-top: 1.2rem;
  height: unset;
}
.error-message__message {
  display: block;
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
}

.success-message {
  background: rgba(120, 241, 120, 0.738);
  border-radius: 10px;
  width: 100%;
  color: #00a500;
  overflow: hidden;
  height: 0px;
  transition: all 0.3s ease-in-out;
}
.success-message.show {
  margin-top: 1.2rem;
  height: unset;
}
.success-message__message {
  display: block;
  padding: 0.8rem 1.4rem;
  font-size: 1.4rem;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}