*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-10: hsla(35, 88.2%, 10%, 1);
  --primary-20: hsla(35, 90.2%, 20%, 1);
  --primary-30: hsla(35, 89.5%, 30%, 1);
  --primary-40: hsla(35, 90.2%, 40%, 1);
  --primary-50: hsla(35, 89.8%, 50%, 1);
  --primary-60: hsla(35, 90.2%, 60%, 1);
  --primary-60-m: hsla(35, 90.2%, 60%, 0.01);
  --primary-70: hsla(35, 89.5%, 70%, 1);
  --primary-80: hsla(35, 90.2%, 80%, 1);
  --primary-90: hsla(35, 88.2%, 90%, 1);
  --primary-95: hsla(34, 92%, 95.1%, 1);
  --primary-98: hsla(40, 81.8%, 97.8%, 1);
  --primary-99: hsla(36, 100%, 99%, 1);
  --secondary-10: hsla(131, 88.2%, 10%, 1);
  --secondary-20: hsla(131, 90.2%, 20%, 1);
  --secondary-30: hsla(131, 89.5%, 30%, 1);
  --secondary-40: hsla(131, 90.2%, 40%, 1);
  --secondary-50: hsla(131, 89.8%, 50%, 1);
  --secondary-60: hsla(131, 90.2%, 60%, 1);
  --secondary-70: hsla(131, 89.5%, 70%, 1);
  --secondary-80: hsla(131, 90.2%, 80%, 1);
  --secondary-90: hsla(131, 88.2%, 90%, 1);
  --secondary-95: hsla(130, 92%, 95.1%, 1);
  --secondary-98: hsla(133, 81.8%, 97.8%, 1);
  --secondary-99: hsla(132, 100%, 99%, 1);
  --small: 1.6rem;
  --regular: 2.4rem;
  --medium: 3.8rem;
  --large: 4.8rem;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Signika", sans-serif;
  font-style: normal;
  line-height: auto;
  background-color: var(--primary-70);
  overflow-x: hidden;
}

a,
a:link,
a:active {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-98);
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: var(--small);
  font-weight: 600;
}
.btn.btn-primary {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-50);
  color: var(--primary-98);
}
.btn.btn-primary:active,
.btn.btn-primary:hover {
  transform: scale(1.05);
  color: var(--secondary-30);
  background-color: var(--primary-50);
  border-radius: 1rem;
}

section {
  transition: all 0.7s ease-in-out;
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
}
.minus i,
.plus i {
  position: relative;
  z-index: -1;
}

.is-hidden {
  display: none;
}

.product {
  width: 100%;
}
.product__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.product__content-main-img {
  position: relative;
  margin-bottom: 4rem;
}
.product__content-main-img img {
  opacity: 1;
  filter: blur(0);
  transition: all 0.3s ease-in-out;
}
.product__content-main-img img.fade-out {
  opacity: 0;
  filter: blur(10px);
  transition: all 0.3s ease-in-out;
}
.product__content-main-img::after {
  content: attr(data-price);
  top: 2rem;
  right: -2rem;
  position: absolute;
  z-index: 2;
  color: var(--primary-99);
  font-size: var(--regular);
  text-align: center;
  line-height: 4rem;
  background-color: var(--primary-80);
  width: 18rem;
  height: 4rem;
  font-weight: 300;
}
.product__content-main-img::before {
  content: attr(data-title);
  bottom: 2rem;
  left: -4rem;
  position: absolute;
  z-index: 2;
  color: var(--primary-99);
  font-size: var(--medium);
  text-align: center;
  line-height: 6rem;
  background-color: var(--primary-80);
  width: max-content;
  height: auto;
  padding: 0 2rem;
  font-weight: 300;
}
.product__content-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__content-imgs i {
  display: block;
  font-size: 5rem;
  margin-right: 4rem;
  color: var(--primary-30);
  cursor: pointer;
  filter: drop-shadow(4px 2px 2px var(--primary-30));
  transition: all 0.3s ease-in-out;
}
.product__content-imgs i:active,
.product__content-imgs i:hover {
  color: var(--primary-40);
  filter: drop-shadow(4px 5px 5px var(--primary-20));
  transform: scale(1.1);
}
.product__content-imgs i:nth-of-type(2) {
  margin-left: 4rem;
  margin-right: 0rem;
}
.product__content-imgs .variant-1 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-1:hover,
.product__content-imgs .variant-1:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-1.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-1.selected:hover,
.product__content-imgs .variant-1.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-2 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-2:hover,
.product__content-imgs .variant-2:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-2.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-2.selected:hover,
.product__content-imgs .variant-2.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-3 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-3:hover,
.product__content-imgs .variant-3:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-3.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-3.selected:hover,
.product__content-imgs .variant-3.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-4 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-4:hover,
.product__content-imgs .variant-4:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-4.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-4.selected:hover,
.product__content-imgs .variant-4.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-5 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-5:hover,
.product__content-imgs .variant-5:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-5.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-5.selected:hover,
.product__content-imgs .variant-5.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-6 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-6:hover,
.product__content-imgs .variant-6:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-6.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-6.selected:hover,
.product__content-imgs .variant-6.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-7 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-7:hover,
.product__content-imgs .variant-7:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-7.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-7.selected:hover,
.product__content-imgs .variant-7.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-8 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-8:hover,
.product__content-imgs .variant-8:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-8.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-8.selected:hover,
.product__content-imgs .variant-8.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-9 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-9:hover,
.product__content-imgs .variant-9:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-9.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-9.selected:hover,
.product__content-imgs .variant-9.selected:active {
  filter: brightness(1.1);
}
.product__content-imgs .variant-10 {
  position: relative;
  padding: 0rem;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;
  border: 6px transparent solid;
  z-index: 1;
  filter: brightness(1);
}
.product__content-imgs .variant-10:hover,
.product__content-imgs .variant-10:active {
  filter: brightness(0.8);
}
.product__content-imgs .variant-10.selected {
  transition: all 0.3s ease-in-out;
  border: 6px solid var(--primary-50);
}
.product__content-imgs .variant-10.selected:hover,
.product__content-imgs .variant-10.selected:active {
  filter: brightness(1.1);
}
.product__content .product__selects {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.product__content .product__selects .installment.caption-large {
  margin: 4rem 0 2rem 0;
  text-align: center;
  font-size: var(--small);
  width: max-content;
  line-height: 3rem;
  background-color: var(--primary-95);
  padding: 0 1.5rem;
  color: var(--primary-20);
  border: 3px solid var(--primary-80);
}
.product__content .product__selects .shopify-product-form {
  width: 100%;
}
.product__content .product__selects variant-radios {
  display: block;
  margin: 2rem auto;
  width: 50%;
}
.product__content .product__selects variant-radios fieldset {
  text-align: center;
  border: hidden;
  font-size: var(--regular);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.product__content .product__selects variant-radios fieldset legend {
  display: block;
  width: 100%;
  font-size: var(--medium);
  text-align: center;
  margin-bottom: 2rem;
  color: var(--primary-20);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-1 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-1:checked
  ~ label[for="optionValues-1"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-2 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-2:checked
  ~ label[for="optionValues-2"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-3 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-3:checked
  ~ label[for="optionValues-3"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-4 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-4:checked
  ~ label[for="optionValues-4"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-5 {
  visibility: hidden;
}
.product__content
  .product__selects
  variant-radios
  fieldset
  input#optionValues-5:checked
  ~ label[for="optionValues-5"] {
  color: var(--primary-90);
  background-color: var(--primary-50);
}
.product__content .product__selects variant-radios fieldset label {
  cursor: pointer;
  margin-top: 2rem;
  border: 0.2rem solid var(--primary-50);
  padding: 1rem 2rem;
  border-radius: 5rem;
  color: var(--primary-50);
  background-color: var(--primary-90);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.product__content .product__selects variant-radios fieldset label:hover,
.product__content .product__selects variant-radios fieldset label:active {
  color: var(--primary-90);
  background-color: var(--primary-50);
  transform: scale(1.05);
}
.product__content .product__selects quantity-input {
  display: flex;
  justify-content: center;
  width: min-content;
  margin: 0 0 2rem 0;
  border: 2px solid var(--primary-50);
  border-radius: 3rem;
  background-color: var(--primary-90);
}
.product__content .product__selects quantity-input button {
  position: relative;
  z-index: 2;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  cursor: pointer;
}
.product__content .product__selects quantity-input button:hover i,
.product__content .product__selects quantity-input button:active i {
  transform: scale(1.05);
  color: var(--primary-60);
}
.product__content .product__selects quantity-input button i {
  position: relative;
  z-index: -1;
  font-size: 4rem;
  color: var(--primary-50);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.product__content .product__selects quantity-input input {
  text-align: center;
  background-color: var(--primary-90);
  border-left: 2px solid var(--primary-50);
  border-right: 2px solid var(--primary-50);
  border-top: none;
  border-bottom: none;
  width: 30rem;
  font-size: var(--small);
  color: var(--primary-30);
}
.product__content .product__selects product-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.product__content .product__selects product-form button {
  width: 40rem;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .product__content-main-img::before {
    bottom: -1rem;
    width: 110%;
    left: -5%;
    font-size: var(--regular);
    letter-spacing: 0.2rem;
  }
  .product__content #mainImage {
    width: 35rem;
    height: 35rem;
  }
  .product__content-imgs {
    flex-wrap: wrap;
  }
  .product__content-imgs img {
    width: 4rem;
  }
  .product__content .product__selects variant-radios {
    width: auto;
  }
  .product__content .product__selects quantity-input input {
    width: auto;
  }
}
@media screen and (max-width: 900px) {
  .product__content {
    justify-content: space-evenly;
  }
  .product__content-imgs {
    width: 100%;
  }
  .product__content-imgs img {
    width: 8rem;
  }
  .product__content-imgs i {
    filter: drop-shadow(2px 2px 2px var(--primary-30));
    margin-right: 1rem;
  }
  .product__content-imgs i:nth-of-type(2) {
    margin-left: 1rem;
  }
  .product__content .product__selects #product-form-installment {
    width: 90%;
  }
  .product__content .product__selects .product-form {
    width: 100%;
  }
  .product__content .product__selects .product-form form {
    width: 100%;
  }
  .product__content .product__selects .product-form__buttons {
    width: 100%;
    padding: 4rem;
  }
  .product__content .product__selects .product-form button {
    width: 100%;
  }
  .product__content .product__selects .product-form__submit {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .product__content-imgs {
    width: 100%;
  }
  .product__content-imgs img {
    width: 10rem;
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 60vw;
  width: min-content;
  height: 100vh;
  background-color: white;
  z-index: 5;
  overflow-x: hidden;
}
cart-drawer[data-state="closed"] {
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
}
cart-drawer[data-state="open"] {
  transform: translateX(0);
  visibility: visible;
  transition: transform 1s ease-in-out;
}
cart-drawer .cart__content {
  display: flex;
  flex-wrap: wrap;
}
cart-drawer .cart__content .cart__headings {
  display: flex;
  justify-content: space-evenly;
  font-size: var(--medium);
  flex-basis: 100%;
  margin-bottom: 5rem;
}
cart-drawer .cart__content .cart__items {
  flex-basis: 100%;
  flex-wrap: wrap;
  overflow-x: hidden;
}
cart-drawer .cart__content .cart__items .line__item {
  margin-top: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
cart-drawer .cart__content .cart__items .line__item:nth-of-type(0) {
  visibility: hidden;
  height: 0 !important;
  width: 0 !important;
  opacity: 0;
}
cart-drawer .cart__content .cart__items .line__item-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  font-size: var(--regular);
  text-align: center;
  padding: 0.5rem;
}
cart-drawer .cart__content .cart__items .line__item-details span {
  width: 100%;
}
cart-drawer .cart__content .cart__items .line__item-details span span {
  display: block;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer {
  display: flex;
  justify-content: center;
  width: min-content;
  margin: 2rem 0 2rem 0;
  border: 2px solid var(--primary-50);
  border-radius: 3rem;
  background-color: var(--primary-90);
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button {
  position: relative;
  z-index: 5;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  cursor: pointer;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button:hover
  i,
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button:active
  i {
  transform: scale(1.05);
  color: var(--primary-60);
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  button
  i {
  position: relative;
  z-index: -1;
  font-size: 4rem;
  color: var(--primary-50);
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
cart-drawer
  .cart__content
  .cart__items
  .line__item-details
  .quantity-input-drawer
  input {
  text-align: center;
  background-color: var(--primary-90);
  border-left: 2px solid var(--primary-50);
  border-right: 2px solid var(--primary-50);
  border-top: none;
  border-bottom: none;
  width: 20rem;
  font-size: var(--small);
  color: var(--primary-30);
}
cart-drawer .cart__content .cart__items .line__item .delete__icon {
  cursor: pointer;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: none;
  background: none;
  top: 0;
  right: 0;
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::after,
cart-drawer .cart__content .cart__items .line__item .delete__icon::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: var(--primary-50);
  width: 3rem;
  height: 0.5rem;
  border-radius: 10rem;
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::before {
  transform: rotate(45deg);
}
cart-drawer .cart__content .cart__items .line__item .delete__icon::after {
  transform: rotate(-45deg);
}
cart-drawer .checkout {
  position: sticky;
  bottom: 0;
  border: none;
  width: 100%;
}
@media screen and (max-width: 600px) {
  cart-drawer {
    width: 100vw;
  }
}
@media screen and (max-width: 900px) {
  cart-drawer {
    width: 100vw;
  }
}
.shopify-section.page .page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopify-section.page .page__title {
  font-size: var(--medium);
  margin-bottom: 5rem;
}
.shopify-section.page .page__para {
  font-size: var(--small);
  width: 80%;
}
.shopify-section.page ~ .shopify-section.newsletter .newsletter.hide {
  opacity: 1;
  transform: translateY(0rem);
}

main .shopify-policy__container {
  width: 80%;
  max-width: none;
  font-size: var(--small);
  padding: 3rem 2rem;
}
main .shopify-policy__container .shopify-policy__title {
  margin-bottom: 3rem;
}

.list-collections {
  min-height: 50rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
.list-collections h1 {
  width: 100%;
  text-align: center;
  font-size: var(--large);
  color: var(--secondary-30);
  margin-bottom: 3rem;
}
.list-collections .collection {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  color: var(--secondary-90);
  height: 30rem;
  width: 30rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease-in-out;
  filter: brightness(1);
  transform: scale(1);
}
.list-collections .collection:hover,
.list-collections .collection:active {
  filter: brightness(1.1);
  transform: scale(1.1);
}
.list-collections .collection h2 {
  font-size: var(--regular);
  font-weight: 300;
  position: absolute;
  top: 0;
  left: -6rem;
  padding: 1rem 2rem;
  background: var(--primary-50);
  transform: rotate(-10deg);
}

.collection-banner {
  width: 100%;
  padding: 1rem 2rem;
}
.collection-banner .collection-img {
  background: linear-gradient(to bottom, var(--primary-60), var(--primary-70));
  padding: 5rem;
}
.collection-banner .collection-img h1 {
  font-size: var(--large);
  color: var(--primary-20);
}

.collection-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.5s !important;
  transition-delay: 0 !important;
}
