:root {
  font-size: 62.5%;
}

body {
  font-family: "Signika", sans-serif;
  font-style: normal;
  line-height: auto;
  background-color: var(--primary-70);
  overflow-x: hidden;
}

a,
a:link,
a:active {
  text-decoration: none;
  font-style: normal;
  color: var(--primary-98);
}

.hide {
  visibility: hidden;
}

.btn {
  width: 80%;
  padding: 1rem 4rem;
  text-align: center;
  font-size: var(--small);
  font-weight: font-weight(semibold);
  &.btn-primary {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-50);
    color: var(--primary-98);

    &:active,
    &:hover {
      transform: scale(1.05);
      color: var(--secondary-30);
      background-color: var(--primary-50);
      border-radius: 1rem;
    }
  }
}
section {
  transition: all 0.7s ease-in-out;
  transform: translateY(0rem);
}

.hide {
  opacity: 0;
  transform: translateY(10rem);
}

.unhide {
  opacity: 1;
}

.lazy {
  filter: blur(10px);
  transition: filter 0.5s ease-in-out;
}

.minus,
.plus {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  i {
    position: relative;
    z-index: -1;
  }
}

.is-hidden {
  display: none;
}
