.product {
  width: 100%;
  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    &-main-img {
      position: relative;
      margin-bottom: 4rem;

      &::after {
        content: attr(data-price);
        top: 2rem;
        right: -2rem;
        position: absolute;
        z-index: 2;
        color: var(--primary-99);
        font-size: var(--regular);
        text-align: center;
        line-height: 4rem;
        background-color: var(--primary-80);
        width: 18rem;
        height: 4rem;
        font-weight: font-weight(light);
      }
      &::before {
        content: attr(data-title);
        bottom: 2rem;
        left: -4rem;
        position: absolute;
        z-index: 2;
        color: var(--primary-99);
        font-size: var(--medium);
        text-align: center;
        line-height: 6rem;
        background-color: var(--primary-80);
        width: max-content;
        height: auto;
        padding: 0 2rem;
        font-weight: font-weight(light);
      }
    }
    &-imgs {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        display: block;
        font-size: 5rem;
        margin-right: 4rem;
        color: var(--primary-30);
        &:nth-of-type(2) {
          margin-left: 4rem;
        }
      }

      .variant {
        padding: 2rem;
      }
    }
    .minus,
    .plus {
      position: relative;
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      border: none;
      i {
        position: relative;
        z-index: -1;
      }
    }
  }
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
