cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  background-color: white;
  z-index: 5;
  // padding: 10rem 5rem 5rem 5rem;
  overflow-x: hidden;
  &[data-state="closed"] {
    transform: translateX(100%);
    // visibility: hidden;
    transition: transform 1s ease-in-out;
  }
  &[data-state="open"] {
    transform: translateX(0);

    visibility: visible;
    transition: transform 1s ease-in-out;
  }
  .cart__content {
    display: flex;
    flex-wrap: wrap;
    // overflow-y: scroll;

    .cart__headings {
      display: flex;
      justify-content: space-evenly;
      font-size: var(--medium);
      flex-basis: 100%;
      margin-bottom: 5rem;
    }
    .cart__items {
      flex-basis: 100%;
      flex-wrap: wrap;
      // overflow-y: scroll;
      overflow-x: hidden;

      .line__item {
        margin-top: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:nth-of-type(0) {
          visibility: hidden;
          height: 0 !important;
          width: 0 !important;
          opacity: 0;
        }
        &-details {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
          flex-basis: 100%;
          font-size: var(--regular);
          //   border-bottom: 0.4rem solid black;
          //   flex-basis: 3rem;
          text-align: center;
          padding: 0.5rem;
          span {
            width: 100%;
            span {
              display: block;
            }
          }
          .quantity-input-drawer {
            display: flex;
            justify-content: center;
            width: min-content;
            margin: 2rem 0 2rem 0;
            border: 2px solid var(--primary-50);
            border-radius: 3rem;
            background-color: var(--primary-90);

            button {
              position: relative;
              z-index: 5;
              width: auto;
              height: auto;
              padding: 1rem 2rem;
              cursor: pointer;
              &:hover i,
              &:active i {
                transform: scale(1.05);
                color: var(--primary-60);
              }
              i {
                position: relative;
                z-index: -1;
                font-size: 4rem;
                color: var(--primary-50);
                cursor: pointer;
                transform: scale(1);
                transition: all 0.3s ease-in-out;
              }
            }
            input {
              text-align: center;
              background-color: var(--primary-90);
              border-left: 2px solid var(--primary-50);
              border-right: 2px solid var(--primary-50);
              border-top: none;
              border-bottom: none;
              // border: none;
              width: 20rem;
              font-size: var(--small);
              color: var(--primary-30);
              // margin: 0 2rem;
            }
          }
        }

        .delete__icon {
          cursor: pointer;
          display: block;
          position: absolute;
          width: 3rem;
          height: 3rem;
          border: none;
          background: none;
          top: 0;
          right: 0;
          &::after,
          &::before {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            background-color: var(--primary-50);
            width: 3rem;
            height: 0.5rem;
            border-radius: 10rem;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
  .checkout {
    position: sticky;
    bottom: 0;
    border: none;
    width: 100%;
  }
}
